// Color scheme for light and dark modes.

$light: #ff0066;
$dark: #ddbd06;

// Highlighting color for code block borders and language name.

$code-light: #ff0066;
$code-dark: #fffab8;

$message-green: #6acf4b;
$message-yellow: #ffc038;
$message-orange: #fc9c2f;
$message-red: #e73251;
$message-purple: #c23abb;
$message-blue: #008bdc;

$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$code-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$root-font-size: 16px;
$root-line-height: 1.6;

$body-color: rgba(0,0,0,.8);
$body-bg: rgba(0,0,0,.03);
$body-color-dark: hsla(0,0%,100%,.8);
$body-bg-dark: rgba(0,0,0,.9);

$large-breakpoint: 38em;
$large-font-size: 20px;
